.operations {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 56px;
  background-color: rgb(171, 194, 159);
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}
