.button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #E2E3E5;
  box-sizing: border-box;
  border-radius: 6px;
}

.button__small {
  width: 52px;
  height: 48px;
  margin-top: 4px;
}

.button__big {
  width: 152px;
  height: 48px;
  margin-top: 4px;
  margin-left: 4px;
}

.button__small:first-child {
  margin-left: 4px;
}

.button__small:last-child {
  margin-right: 4px;
}

.button__normal {
  width: 72px;
  height: 48px;
  margin-top: 4px;
}

.button__normal:nth-child(3n+1) {
  margin-left: 4px;
}

.button__normal:nth-child(3n) {
  margin-right: 4px;
}

.button__normal:last-child {
  margin-right: 4px;
}

.button__huge {
  width: 232px;
  height: 64px;
  margin-left: 3px;
  margin-top: 4px;
  background-color: #5D5FEF;
}

.button__equal {
  margin-top: 24px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}

.button__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #000000;
}
